body{
  text-align:center;
  background: linear-gradient(#035efc 0%,#F50057 100%);
}
#rajasthanlogo{
  border-radius: 50%;
  width: 300px;
}
p{
  font-size:20px;
}
li{
 float:left;
    color:white;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size:20px;
}
li:hover{
  background-color: green;
}